<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


 <div id="footer"  layout:fragment="footer">
   
 
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="#">
              Creative Time
            </a>
          </li>
          <li>
            <a href="#">
              About Us
            </a>
          </li>
          <li>
            <a href="#">
              Blog
            </a>
          </li>
          <li>
            <a href="#">
              Licenses
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right" style="color:red">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, gggggggg <i class="material-icons">llll</i> ppp
        <a  href="https://www.creative-tim.com" target="_blank">xxxxx</a> ssssss.
      </div>
    </div>
     
 
  </div>  
  
   
</html>